* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection{
  color: #ffc75e;
  background-color: #1098A8;
}

body {
  background-color: #1f2635;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.135em;
  color: #ffffff;
  text-align: justify;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* ---------------------------- CINER-ELLA ---------------------------- */

/*---------HEADER---------*/

/*Navbar*/
.sec-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #364974;
  z-index: 10;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.nav-mini {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.sec-nav .nav-mini li a {
  text-decoration: none;
  color: #d0d0d0;
  padding-bottom: 3px;
  transition: all 0.3s;
}

.sec-nav .nav-mini li a:hover {
  color: #feb221;
  border-bottom: 1px solid #feb221;
}

#sec-nav.active {
  display: flex;
}

/*Ciner-Ella Logo*/
.logo {
  text-align: center;
  padding-top: 8rem;
}

.ciner-ella__logo {
  width: 344px;
  height: 266px;
}

/*---------Body---------*/

.container {
  width: auto;
  margin: 0 4%;
}

.ciner-ella__first {
  padding: 0 0.9rem 3.125rem 0.9rem;
}

.second,
.third,
.fourth,
.fifth {
  display: flex;
  padding: 5.125rem;
  align-items: center;
}

.women2,
.women3 {
  max-width: 32.295rem;
  padding-right: 3.125rem;
  animation: slideInLeft 1s;
}

.women4,
.women1 {
  max-width: 32.295rem;
  padding-left: 3.125rem;
  animation-name: bounceInLeft;
  animation: slideInRight 1s;
}

.women3 {
  max-height: 23.125rem;
}

.ciner-ella__second {
  padding-left: 3.125rem;
}

.ciner-ella__third {
  padding-right: 3.125rem;
}

.ciner-ella__fourth {
  padding-left: 3.125rem;
}

.ciner-ella__fifth {
  padding-right: 3.125rem;
}

.invitation {
  padding-top: 7rem;
  padding-bottom: 2rem;
}
.impacts {
  display: block;
  float: right;
  max-width: 65%;
  display: flex;
  flex-direction: column;
}

.impact-1,
.impact-2,
.impact-3,
.impact-4 {
  display: flex;
  padding: 0.7rem;
}

.impact-4{
  display: inline-block;
}

.impact-4 a{
  text-decoration: none;
  color: #feb221;   
  transition: all .6s;
  border-bottom: none;
}

.impact-4 a:hover{
  color: #1098A8;
  border-bottom: 1px solid #1098A8;
}

.arrow {
  font-size: 2.1875rem;
  padding-top: 0.4rem;
  padding-right: 1.7rem;
}

.logo-pequeño{
  max-width: 10rem;
  align-self: center;
  padding: 1rem;
}

img{
  width: 100%;
  transform: scale(1);
  transition: transform 1.5s;
}

img:hover:not(:last-child) {
  transform: scale(1.2);
}

@keyframes slideInLeft {

  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInRight {

  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0%);
  }
}