/* ___________________________________ GENERAL ___________________________________ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection{
  color: #ffc75e;
  background-color: #1098A8;
}

body {
  
  font-family: 'Roboto', sans-serif;
  font-size: 20px;  
  line-height: 25px;
  letter-spacing: 0.135em;
  color: #d0d0d0;
  text-align: justify;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  /*background for Biblioteca*/
  background-image: linear-gradient(rgba(0, 0, 7, 0.7), rgba(0, 0, 7, 0.7)), url(../resources/images/Picking_out_a_book.jpg);
  background-size: 100vw 100vh;
  
}

/* ---------------------------- BIBLIOTECA ---------------------------- */

/*---------HEADER---------*/


/*Navbar*/
.sec-nav {
width: 100%;
position: fixed;
top: 0;
left: 0;
padding: 0.5rem 2rem;
display: flex;
align-items: center;
justify-content: space-between;
background-color: rgba(255, 255, 255, 0.16);;
z-index: 10;
box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.sec-nav img{
  width: 3.5rem;
}

.nav-mini {
width: 60%;
display: flex;
align-items: center;
justify-content: space-between;
list-style: none;
}

.sec-nav .nav-mini li a {
text-decoration: none;
color: #d0d0d0;
padding-bottom: 3px;
transition: all 0.3s;
}

.sec-nav .nav-mini li a:hover {
color: #feb221;
border-bottom: 1px solid #feb221;
}

#sec-nav.active {
  display: flex;
}

/*Content*/
.content{
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content h2{
  font-size: 3rem;
  font-weight: 300;
  color: #feb221;
  padding: 2rem;
  text-transform: uppercase;
}

.content p{
  padding: 2rem 8rem;
  text-align: justify;
  font-weight: 500;
}

.content a{
  margin: 2rem auto;
}

/*Button*/
.btn {
  font-weight: bold;
  margin: 5rem 2rem;
  text-decoration: none;
  padding: 10px 2.5rem;
  border: 2px solid #feb221;
  border-radius: 50px;
  color: #feb221;
  transition: all 0.3s;
}

.btn:hover {
  color: #fff;
  border: 2px solid #eea010;
  background-color: #eea010;
}

/* ___________________________________ footer ___________________________________ */

footer {
  font-size: 19.2px;
  color: #555;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 300;
  margin-top: 0rem;
  background-color: #1f2635;
}

footer p{
  margin: 0;
}

footer h3{
  padding: 0;
}

.footer-row-1 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.footer-row-1 > div {
  text-align: center;
  width: 33%;
}

.footer-row-1 .logo-box img {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s;
}

.footer-row-1 .footer-info {
  text-align: left;
}

.footer-row-1 .logo-box img:hover {
  opacity: 1;
}

.footer-contact-conteiner {
  width: 50%;
  margin: 0 25%;
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media {
  width: 80%;
  margin: 2rem 10% 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media a img {
  opacity: 0.6;
  transition: all 0.3s;
}

.social-media a img:hover {
  opacity: 1;
}

.footer-row-2 {
  text-align: center;
}

.footer-row-2 p span a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s;
}

.footer-row-2 p span a:hover {
  color: #fff;
}

.footer-contact-info > * {
  max-width: 400px;
}

/* ___________________________________ Responsive Design ___________________________________ */

@media(max-width: 1025px){

  .main-nav.nav-active li a:link,
  .main-nav.nav-active li a:visited {
    margin-left: 0.5rem;
  }
  .nav-mini {
    width: 80%;
  }

  .footer-contact-conteiner {
    width: 60%;
    margin: 0 20% 0.7rem 20%;
  }
  .social-media a img {
    width: 75%;
  }
}

@media (max-width: 769px){
  .nav-mini{
    width: 90%;
    font-size: 1rem;
  }

  .logo-box img {
    width: 120px;
  }
  .social-media a img {
    width: 55%;
  }
}

@media(max-width: 420px){
  
  body{
    font-size: 14px;
    line-height: 15px;
  }

  .content{
    margin-top: 3rem;
  }
  .content p{
    padding: 0 2rem;
  }

  .content h2{
    font-size: 1.5rem;
  }

  footer{
    font-size: inherit;
  }
  .footer-row-1 {
    flex-direction: column;
    margin-bottom: 0;
  }
  .footer-row-1 > div {
    width: 80%;
    margin-bottom: 1rem;
  }
  .footer-row-1 .footer-info {
    text-align: center;
  }
  .logo-box img {
    width: 80px;
  }
  .footer-contact-info > * {
    text-align: center;
  }
  .footer-contact-conteiner {
    width: 60%;
    margin: 1rem 20%;
  }
  .social-media a img{
    width: 2rem;
  }
}