@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

/* ___________________________________ GENERAL ___________________________________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1f2635;
  color: #555;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* ___________________________________ HEADER ___________________________________ */
header {
  /* background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 7, 0.7)),
      to(rgba(0, 0, 7, 0.7))
    ),
    url(../resources/images/bg-1.png);
  background-image: linear-gradient(rgba(0, 0, 7, 0.7), rgba(0, 0, 7, 0.7)),
    url(../resources/images/bg-1.png); */
  background-image: linear-gradient(rgba(0, 0, 7, 0.8), rgba(0, 0, 7, 0.8));
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 100%;
}
.slideshow img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.row {
  position: absolute;
  top: 3%;
  left: 2%;
  transform: translateX(0.5%);
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.16);
}

.row img {
  width: 10rem;
}

.main-nav {
  display: flex;
  list-style: none;
}

.main-nav li a:link,
.main-nav li a:visited {
  margin: 0 1rem;
  color: #b8b8b8;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.4s;
  transition: border-bottom 0.4s;
}

.main-nav li a:hover,
.main-nav li a:active {
  color: #feb221;
  border-bottom: 2px solid #feb221;
}

.text-box {
  width: 70%;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-box h1 {
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.text-box h2 {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 7rem;
}

.text-box a {
  width: 200px;
}

.btn {
  font-weight: bold;
  margin: 0 2rem;
  text-decoration: none;
  padding: 10px 2.5rem;
  border: 2px solid #feb221;
  border-radius: 50px;
  color: #feb221;
  transition: all 0.3s;
}

.btn-full {
  color: #fff;
  background-color: #feb221;
}

.btn:hover {
  color: #fff;
  border: 2px solid #eea010;
  background-color: #eea010;
}

/* ___________________________________ QUIENES SOMOS ___________________________________ */
.sec-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #364974;
  z-index: 10;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.nav-mini {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.sec-nav .nav-mini li a {
  text-decoration: none;
  color: #d0d0d0;
  padding-bottom: 3px;
  transition: all 0.3s;
}

.sec-nav .nav-mini li a:hover {
  color: #feb221;
  border-bottom: 1px solid #feb221;
}

#sec-nav {
  display: none;
}

#sec-nav.active {
  display: flex;
}

#quienes-somos {
  color: #d0d0d0;
  background-color: #1f2635;
}

.section-container {
  width: 90%;
  padding: 17vh 0 5vh 0;
  margin: 0 5%;
  text-align: center;
}

section h2 {
  font-size: 2.2rem;
  color: #feb221;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.section-container p {
  width: 80%;
  margin: 0 auto;
}

.cards-container {
  width: 90%;
  margin: 10vh auto 20vh auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-container {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  width: 17rem;
  height: 25rem;
}

.card-container .card {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.card-container .card:hover {
  transform: rotateY(-180deg);
}

.card-container .card span {
  margin-top: 2rem;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}

.card-container .card .front,
.card-container .card .back {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #feb221;
  backface-visibility: hidden;
  box-shadow: 15px 20px 4px rgba(0, 0, 0, 0.3);
}

.card-container .card .back {
  text-align: left;
  justify-content: space-around;
  color: #fff;
  background-color: #1098a8;
  font-size: 0.9rem;
  transform: rotateY(180deg);
}

.card-container .card .back ul {
  width: 80%;
  transform: translateX(7%);
}

/* ___________________________________ En Que Trabajamos ___________________________________ */

.trabajos {
  background-color: #000;
}

.trabajos-row {
  display: flex;
}

.trabajos-row .img-container {
  overflow: hidden;
  width: 33.33%;
  display: flex;
  position: relative;
}

.trabajos-row .img-container img {
  width: 100%;
  opacity: 0.5;
  transition: 0.7s;
}

.trabajos-row .img-container img:hover {
  opacity: 1 !important;
  filter: blur(3px) !important;
  transform: scale(1.03);
}

.description {
  width: 75%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: rgba(0, 0, 7, 0.7);
  padding: 15px;
  opacity: 0;
  z-index: 20;
  transition: all 0.7s;
}

.description.active {
  opacity: 1;
}

/* ___________________________________ Informacion ___________________________________ */

.info__bubbles {
  background-color: #feb221;
  height: 45vh;
  position: relative;
}
.info__bubbles h2 {
  padding: 3rem 0;
  font-size: 2.2rem;
  color: #1f2635;
  text-align: center;
}
.info__bubbles-row {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 65%;
  left: 15%;
}
.info-item .bubble {
  cursor: pointer;
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  border: 3px solid #fff;
  background: #1f2635;
  position: relative;
  transition: all 0.3s;
}
.info-item .bubble:hover {
  background: #343f58;
}
.info-item .bubble img {
  height: 8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info__bubbles-row .info-item p {
  color: #ffa600;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1.7rem;
}
.info__biblio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/resources/images/biblioteca-bg.png);
  background-size: cover;
  width: 100%;
  height: 45vh;
}

@media (min-width: 1400px) {
  .info__bubbles-row {
    width: 60%;
    top: 73%;
    left: 20%;
  }
}
