/* ___________________________________ GENERAL ___________________________________ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection{
    color: #ffc75e;
    background-color: #1098A8;
}

body {
    background-color: #1f2635;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.135em;
    color: #d0d0d0;
    text-align: justify;    
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*Navbar*/
.sec-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #364974;
    z-index: 10;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.sec-nav img{
    width: 3.5rem;
}

.nav-mini {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.sec-nav .nav-mini li a {
    text-decoration: none;
    color: #d0d0d0;
    padding-bottom: 3px;
    transition: all 0.3s;
}

.sec-nav .nav-mini li a:hover {
    color: #feb221;
    border-bottom: 1px solid #feb221;
}

#sec-nav.active {
    display: flex;
}


/*Body*/


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7rem;
}

h2{
    font-size: 3rem;
    font-weight: 300;
    color: #feb221;
    padding: 2rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
}

.articles{
width: 100%;
}

.article{
    border-top: 1px solid #fff;
    padding: 2rem;
}

.article:hover .downarrow{
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    color: #feb221;
}

h4{
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    padding-bottom: 0.9rem;
    line-height: 2.3rem;
}

h5{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: #feb121a6;
}

h5:not(:first-child){
    padding: 2.9rem 0 0.5rem 0;    
}

.author{
    margin-top: -1.5rem;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.753);
}

.downarrow{
    display: block;
    float: right;
    font-size: 2.5rem;
    margin-top: -3rem;
    transition: all 1s;
}

.downarrow:hover{
    cursor: pointer;
}

.date{
    margin-top: 2rem;
    font-size: 1rem;
}

.text{
    display: none;
}

.text_active{
    display: block;
    margin-top: 2rem;
    border-top: 1px solid #fff;
    background-color: #feb1213b;
    padding: 2rem;
}

a:link,
a:visited{
    font-weight: 600;
    letter-spacing: 0.13rem;
    color: #1098A8;
    transition: color .3s;
    text-decoration: none;
}

a:hover{
    color: #feb221;
    cursor: pointer;
}

@keyframes pulse {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
