@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

/* ___________________________________ GENERAL ___________________________________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::selection {
  color: #ffc75e;
  background-color: #1098a8;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1f2635;
  color: #555;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* ___________________________________ HEADER ___________________________________ */
#slideshow {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideBg 15s linear infinite 0s;
  animation-timing-function: cubic-bezier(1, 0, 0.3, 1);
  background-image: url(../resources/images/bg-1.jpg);
  background-attachment: fixed;
  z-index: -1;
}

@keyframes slideBg {
  0% {
    background-image: url(../resources/images/bg-1.jpg);
  }
  33% {
    background-image: url(../resources/images/bg-2.jpg);
  }
  66% {
    background-image: url(../resources/images/bg-3.jpg);
  }
  100% {
    background-image: url(../resources/images/bg-1.jpg);
  }
}

header {
  position: relative;
}

header #darkfilter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.row {
  position: absolute;
  top: 3%;
  left: 2%;
  transform: translateX(0.5%);
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.16);
}

.row img {
  width: 10rem;
}

.main-nav {
  display: flex;
  list-style: none;
}

.main-nav li a:link,
.main-nav li a:visited {
  margin: 0 1rem;
  color: #b8b8b8;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.4s;
  transition: border-bottom 0.4s;
}

.main-nav li a:hover,
.main-nav li a:active {
  color: #feb221;
  border-bottom: 2px solid #feb221;
}

.text-box {
  width: 70%;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-box h1 {
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.text-box h2 {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 7rem;
}

.text-box a {
  width: 200px;
}

.btn {
  font-weight: bold;
  margin: 0 2rem;
  text-decoration: none;
  padding: 10px 2.5rem;
  border: 2px solid #eea010;
  border-radius: 50px;
  color: #feb221;
  transition: all 0.3s;
}

.btn-full {
  color: #fff;
  background-color: #eea010;
}

.btn:hover {
  color: #fff;
  border: 2px solid #feb221;
  background-color: #feb221;
}

/* ___________________________________ QUIENES SOMOS ___________________________________ */
.sec-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #364974;
  z-index: 10;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.nav-logo {
  width: 3.5rem;
}

.nav-mini {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.sec-nav .nav-mini li a {
  text-decoration: none;
  color: #d0d0d0;
  padding-bottom: 3px;
  transition: all 0.3s;
}

.sec-nav .nav-mini li a:hover {
  color: #feb221;
  border-bottom: 1px solid #feb221;
}

#sec-nav {
  display: none;
}

#sec-nav.active {
  display: flex;
}

#quienes-somos {
  color: #d0d0d0;
  background-color: #1f2635;
}

.section-container {
  width: 90%;
  padding: 17vh 0 5vh 0;
  margin: 0 5%;
  text-align: center;
}

section h2 {
  font-size: 2.2rem;
  color: #feb221;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.section-container p {
  width: 80%;
  margin: 0 auto;
}

.cards-container {
  width: 90%;
  margin: 10vh auto 20vh auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  cursor: pointer;
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative;
  width: 17rem;
  height: 25rem;
}

.card__side {
  color: #fff;
  height: 25rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 15px 20px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.card__side--front {
  background-color: #feb221;
  font-size: 3rem;
  font-weight: bold;
}

.card__side--back {
  text-align: left;
  justify-content: space-around;
  background-color: #1098a8;
  font-size: 0.9rem;
  transform: rotateY(180deg);
}

.card__side--back ul {
  width: 80%;
  transform: translateX(7%);
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0deg);
}

/* ___________________________________ En Que Trabajamos ___________________________________ */

.trabajos {
  background-color: #000;
}

.trabajos-row {
  display: flex;
}

.img-cont {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.img-cont__img {
  height: 100%;
  transition: all 0.5s;
  opacity: 0.5;
}

.img-cont__caption {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  transition: all 0.7s;
  backface-visibility: hidden;
}

.img-cont__caption p {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}

.img-cont:hover .img-cont__caption {
  pointer-events: none;
  opacity: 1;
  transform: translate(-50%, -50%);
}

.img-cont:hover .img-cont__img {
  transform: scale(1.05);
  filter: blur(3px);
  opacity: 1;
}

.trabajos-row .img-container {
  overflow: hidden;
  width: 33.33%;
  display: flex;
  position: relative;
}

.trabajos-row .img-container img {
  width: 100%;
  opacity: 0.5;
  transition: 0.7s;
}
/* 
.trabajos-row .img-container img:hover {
  opacity: 1 !important;
  filter: blur(3px) !important;
  transform: scale(1.03);
}

.description {
  width: 75%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: rgba(0, 0, 7, 0.7);
  padding: 15px;
  opacity: 0;
  z-index: 20;
  transition: all 0.7s;
}

.description.active {
  opacity: 1;
} */

/* ___________________________________ Informacion ___________________________________ */

.info__bubbles {
  background-color: #feb221;
  height: 45vh;
  position: relative;
}
.info__bubbles h2 {
  padding: 6rem 0 3rem 0;
  font-size: 2.2rem;
  color: #1f2635;
  text-align: center;
}
.info__bubbles-row {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 65%;
  left: 15%;
}
.info-item .bubble {
  cursor: pointer;
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  border: 3px solid #fff;
  background: #1f2635;
  position: relative;
  transition: all 0.3s;
}
.info-item .bubble:hover {
  background: #343f58;
}
.info-item .bubble img {
  height: 8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info__bubbles-row .info-item p {
  color: #ffa600;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1.7rem;
}
.info__biblio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/resources/images/biblioteca-bg.webp);
  background-size: cover;
  width: 100%;
  height: 45vh;
}

@media (min-width: 1400px) {
  .info__bubbles-row {
    width: 60%;
    top: 73%;
    left: 20%;
  }
}

/* ___________________________________ Enlaces ___________________________________ */

section .enlaces {
  padding: 6rem 0 3rem 0;
}

.enlaces h2 {
  text-align: center;
  padding-top: 6rem;
}

.enlaces .links {
  width: 60%;
  margin: 5% 20%;
  list-style: none;
}

.enlaces .links li {
  font-size: 2rem;
  margin-bottom: 0.7rem;
}

.enlaces .links li span {
  margin-right: 1rem;
}

.enlaces .links li a {
  text-decoration: none;
  color: #c9c9c9;
}

.enlaces .links li span:hover,
.enlaces .links li a:hover {
  color: #feb221;
}

/* ___________________________________ Contact ___________________________________ */

.contact {
  padding-top: 5rem;
  display: flex;
  width: 100%;
  height: 100vh;
}

.contact .contact-box {
  width: 60%;
  background-color: #feb221;
}

.contact .contact-box h2 {
  color: #1f2635;
  text-align: center;
  margin: 3.7rem 0;
}

.contact .contact-box form {
  color: #1f2635;
  width: 70%;
  height: 60vh;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

::placeholder {
  color: #364974;
}

.contact .contact-box form input,
.contact .contact-box form textarea {
  color: #1f2635;
  width: 100%;
  background: none;
  padding: 0.7rem 0;
  font-size: 1.2rem;
  border: none;
  border-bottom: 2px solid #1f2635;
  outline: none;
}

.contact .contact-box .btn-contact,
.contact .contact-box .btn-contact:visited {
  cursor: pointer;
  margin-top: 3rem;
  color: #1f2635;
  font-size: 1.3rem;
  padding: 0.7rem 2rem;
  background: none;
  border: 2px solid #1f2635;
  border-radius: 50px;
  outline: none;
  transition: all 0.3s;
}

.contact .contact-box .btn-contact:hover {
  color: #feb221;
  background: #1f2635;
}

.contact .img-box {
  width: 40%;
  background-image: url(../resources/images/bulb.webp);
  background-size: cover;
  background-position: center;
}

/* ___________________________________ Aliados ___________________________________ */

.aliados {
  padding: 3rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../resources/images/aliados-bg.webp);
  background-size: cover;
}

.aliados-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ___________________________________ footer ___________________________________ */

footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5;
}

.footer-row-1 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.footer-row-1 > div {
  text-align: center;
  width: 33%;
}

.footer-row-1 .logo-box img {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s;
}

.footer-row-1 .footer-info {
  text-align: left;
}

.footer-row-1 .logo-box img:hover {
  opacity: 1;
}

.footer-contact-conteiner {
  width: 50%;
  margin: 0 25%;
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media {
  width: 80%;
  margin: 2rem 10% 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media a img {
  opacity: 0.6;
  transition: all 0.3s;
}

.social-media a img:hover {
  opacity: 1;
}

.footer-row-2 {
  text-align: center;
}

.footer-row-2 p span a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s;
}

.footer-row-2 p span a:hover {
  color: #fff;
}
