* {
  margin: 0;
}

body {
  background-color: #1f2635;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.135em;
  color: #ffffff;
  text-align: justify;
}

/* ---------------------------- CINER-ELLA ---------------------------- */

/*---------HEADER---------*/

/*Navbar*/
.row {
  position: relative;
  width: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.16);
}

.main-nav {
  display: flex;
  list-style: none;
}

.main-nav li a:link,
.main-nav li a:visited {
  margin: 0 1rem;
  color: #b8b8b8;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.4s;
  transition: border-bottom 0.4s;
}

.main-nav li a:hover,
.main-nav li a:active {
  color: #feb221;
  border-bottom: 2px solid #feb221;
}

/*Ciner-Ella Logo*/
.logo {
  text-align: center;
}

.ciner-ella__logo {
  padding: 30px;
  width: 344px;
  height: 266px;
}

/*---------Body---------*/

.container {
  width: auto;
  margin: 0 4%;
}

.ciner-ella__first {
  padding: 0 0.9rem 3.125rem 0.9rem;
}

.second,
.third,
.fourth,
.fifth {
  display: flex;
  padding: 5.125rem;
  align-items: center;
}

.women2,
.women3 {
  max-width: 32.295rem;
  padding-right: 3.125rem;
}

.women4,
.women1 {
  max-width: 32.295rem;
  padding-left: 3.125rem;
  animation-name: bounceInLeft;
}

.women3 {
  max-height: 23.125rem;
}

.ciner-ella__second {
  padding-left: 3.125rem;
}

.ciner-ella__third {
  padding-right: 3.125rem;
}

.ciner-ella__fourth {
  padding-left: 3.125rem;
}

.ciner-ella__fifth {
  padding-right: 3.125rem;
}

.invitation {
  padding-top: 7rem;
  padding-bottom: 2rem;
}
.impacts {
  display: block;
  float: right;
  max-width: 65%;
}

.impact-1,
.impact-2,
.impact-3,
.impact-4 {
  display: flex;
  padding: 0.7rem;
}

.arrow {
  font-size: 2.1875rem;
  padding-top: 0.4rem;
  padding-right: 1.7rem;
}
