/* ___________________________________ GENERAL ___________________________________ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: #ffc75e;
  background-color: #1098a8;
}

body {
  background-color: #1f2635;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.135em;
  color: #d0d0d0;
  text-align: justify;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

/*Navbar*/
.sec-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #364974;
  z-index: 10;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.sec-nav img {
  width: 3.5rem;
}

.nav-mini {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.sec-nav .nav-mini li a {
  text-decoration: none;
  color: #d0d0d0;
  padding-bottom: 3px;
  transition: all 0.3s;
}

.sec-nav .nav-mini li a:hover {
  color: #feb221;
  border-bottom: 1px solid #feb221;
}

#sec-nav.active {
  display: flex;
}

.burger2 {
  display: none;
  cursor: pointer;
}

.burger2 div {
  width: 30px;
  height: 3px;
  background-color: #f3f3f3;
  margin: 5px;
  transition: all 0.4s ease;
}

/*Body*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  color: #feb221;
  padding: 2rem;
  margin-top: 10rem;
  text-transform: uppercase;
  text-align: center;
}

#articulos:hover {
  border-bottom: 0.7px solid #feb221;
  cursor: pointer;
}

#noticias:hover {
  border-bottom: 0.7px solid #feb221;
  cursor: pointer;
}

.inDisplay {
  border-bottom: #feb221 2.5px solid;
}

.notInDisplay {
  border-bottom: none;
}

.hidden {
  display: none;
  visibility: hidden;
  position: absolute;
}

.shown {
  display: block;
}

.article {
  border-top: 1px solid #fff;
  padding: 2rem;
}

.article:hover .downarrow {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  color: #feb221;
}

h4 {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  padding-bottom: 0.9rem;
  line-height: 2.3rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: #feb121a6;
}

h5:not(:first-child) {
  padding: 2.9rem 0 0.5rem 0;
}

.author {
  margin-top: -1.5rem;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.753);
}

.downarrow {
  display: block;
  float: right;
  font-size: 2.5rem;
  margin-top: -3rem;
}

.downarrow:hover {
  cursor: pointer;
}

.date {
  margin-top: 2rem;
  font-size: 1rem;
}

.text {
  display: none;
}

.text_active {
  display: block;
  margin-top: 2rem;
  border-top: 1px solid #fff;
  background-color: #feb1213b;
  padding: 2rem;
}

a:link,
a:visited {
  font-weight: 600;
  letter-spacing: 0.13rem;
  color: #1098a8;
  transition: color 0.3s;
  text-decoration: none;
}

a:hover {
  color: #feb221;
  cursor: pointer;
}

.news {
  background-color: #142a36;
}

.noticia__titulo {
  padding: 3rem;
}

.folleto {
  max-width: 40rem;
}

.folleto img {
  width: 100%;
}

/* ___________________________________ footer ___________________________________ */

footer {
  font-size: 19.2px;
  color: #555;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 300;
  border-top: 1px solid #feb221;
  margin-top: 5rem;
}

footer p {
  margin: 0;
}

footer h3 {
  padding: 0;
}

.footer-row-1 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.footer-row-1 > div {
  text-align: center;
  width: 33%;
}

.footer-row-1 .logo-box svg {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3s;
}

.footer-row-1 .footer-info {
  text-align: left;
}

.footer-row-1 .logo-box svg:hover {
  opacity: 1;
}

.footer-contact-conteiner {
  width: 50%;
  margin: 0 25%;
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media {
  width: 80%;
  margin: 2rem 10% 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media a svg {
  opacity: 0.6;
  transition: all 0.3s;
}

.social-media a svg:hover {
  opacity: 1;
}

.footer-row-2 {
  text-align: center;
}

.footer-row-2 p span a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s;
}

.footer-row-2 p span a:hover {
  color: #fff;
}

.footer-contact-info > * {
  max-width: 400px;
}

/* ___________________________________ Animation ___________________________________ */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ___________________________________ Responsive Design ___________________________________ */

@media (max-width: 1025px) {
  .nav-mini {
    width: 80%;
  }

  .footer-contact-conteiner {
    width: 60%;
    margin: 0 20% 0.7rem 20%;
  }

  .social-media a img {
    width: 75%;
  }
}

@media (max-width: 769px) {
  body {
    font-size: 15px;
  }

  .nav-mini {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 97vh;
    background-color: #364974;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 0;
    /* transform: translateX(120%);
    transition: transform 0.5s ease-in; */
  }
  .nav-mini.nav-active {
    width: 50%;
    transform: translateY(33px);
  }
  .nav-mini {
    height: 100vh;
  }
  .nav-mini li {
    opacity: 0;
  }
  .burger2 {
    display: block;
  }

  body .container {
    margin: 2rem;
  }

  h2 span {
    font-size: 2rem;
  }
  ol {
    font-size: 1.5rem;
    padding-left: 20px;
  }
  .logo-box img {
    width: 120px;
  }
  .social-media a img {
    width: 55%;
  }
}

@media (max-width: 520px) {
  body {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }

  h2 span {
    font-size: 1rem;
  }

  ol {
    font-size: 1rem;
    padding-left: 0px;
  }

  ol .article {
    padding: 1rem 0;
  }

  li h4 {
    font-size: 1.2rem;
    letter-spacing: 0rem;
    padding-bottom: 0.5rem;
    line-height: 1.5rem;
  }

  li .downarrow {
    font-size: 1.5rem;
    margin-top: -1rem;
  }

  li .date {
    margin-top: 1rem;
  }

  li .text_active {
    margin-top: 1rem;
    padding: 1rem;
  }

  .text h5 {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0rem;
  }

  .text {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0rem;
  }

  li .noticia__titulo {
    padding: 1rem;
  }

  body h2 {
    margin-top: 5rem;
    font-size: 1.5rem;
  }

  footer {
    font-size: inherit;
  }
  .footer-row-1 {
    flex-direction: column;
    margin-bottom: 0;
  }
  .footer-row-1 > div {
    width: 80%;
    margin-bottom: 1rem;
  }
  .footer-row-1 .footer-info {
    text-align: center;
  }
  .logo-box svg {
    width: 80px;
  }
  .footer-contact-info > * {
    text-align: center;
  }
  .footer-contact-conteiner {
    width: 60%;
    margin: 1rem 20%;
  }
  .footer-contact-conteiner img {
    margin-right: 10px;
  }
  .social-media a img {
    width: 2rem;
  }
}
