/* ___________________________________ GENERAL ___________________________________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
::selection{
  color: #ffc75e;
  background-color: #1098A8;
}

body {
  background-color: #1f2635;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.135em;
  color: #d0d0d0;
  text-align: justify;  
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
  
/*Navbar*/
.sec-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #364974;
  z-index: 10;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.sec-nav img{
  width: 3.5rem;
}

.nav-mini {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.sec-nav .nav-mini li a {
  text-decoration: none;
  color: #d0d0d0;
  padding-bottom: 3px;
  transition: all 0.3s;
}

.sec-nav .nav-mini li a:hover {
  color: #feb221;
  border-bottom: 1px solid #feb221;
}

#sec-nav.active {
  display: flex;
}

@media (max-width: 1200px) {
  
  body{
    font-size: 15px;
  }
  
  .nav-mini {
    width: 80%;
  }
}

/*Body*/
.container{
  margin-top: 9rem;
  text-align: center;
}

h2{
  font-size: 3rem;
  font-weight: 300;
  color: #feb221;
  padding: 2rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
}

.intro{
  text-align: justify;
  margin: 5rem;
}

.card{
  margin: auto;
  padding: 3rem;
  border-top: 1px solid #fff;
  display: flex;
  width: 80%;
}

.face{
  margin-right: 5rem;
  align-self: center;
}

.magazine{
  max-width: 9.375rem;
}

@media(max-width: 768px){
  
  h2{
    font-size: 2rem;
    color: #feb221;
    padding: 0rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .card{
    flex-direction: column-reverse;
    width: 90%;
  }

  .face{
    display: flex;
    justify-content: flex-end;
    margin-left: 250px;
  }

  .magazine{
    margin-top: 1rem;
    width: 80px;
  }

  span a{
    position: absolute;
    padding-top: 50px;
  }
}

@media (max-width: 420px){

  body{
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.135em;
  }

  .container{
    margin-top: 7rem;
  }

  h2{
    font-size: 1.5rem;
  }

  .intro{
    margin: 2rem;
  }

  .card{
    padding:1rem;
  }

  .face{
    display: none;
  }

  span a{
    position: relative;
    padding-top: 0;
  }
}

.text{
  text-align: justify;
}

h3{
  padding-bottom: 2rem; 
}

p{
  width: 100%;
  margin-bottom: 1rem;
}

span a:link,
span a:visited{
  font-size: 0.9rem;
  color: #1098A8;
  transition: color .3s;
  text-decoration: none;
}

span a:hover{
  color: #feb221;
  cursor: pointer;
}