/* ___________________________________ GENERAL ___________________________________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection{
  color: #ffc75e;
  background-color: #1098A8;
}

body {
  background-color: #1f2635;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.135em;
  color: #d0d0d0;
  text-align: justify;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/*---------HEADER---------*/

/*Navbar*/
.sec-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #364974;
  z-index: 10;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.sec-nav img{
  width: 3.5rem;
}

.nav-mini {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.sec-nav .nav-mini li a {
  text-decoration: none;
  color: #d0d0d0;
  padding-bottom: 3px;
  transition: all 0.3s;
}

.sec-nav .nav-mini li a:hover {
  color: #feb221;
  border-bottom: 1px solid #feb221;
}

#sec-nav.active {
  display: flex;
}

/*Ciner-Ella Logo*/
.logo {
  text-align: center;
  padding-top: 8rem;
}

.ciner-ella__logo {
  width: 21.55rem;
  height: auto;
}

/*---------Body---------*/

.container {
  width: auto;
  margin: 0 4%;
}

.ciner-ella__first {
  padding: 0 0.9rem 3.125rem 0.9rem;
}

.second,
.third,
.fourth,
.fifth {
  display: flex;
  padding: 5.125rem;
  align-items: center;
}


.women2,
.women3 {
  max-width: 32.295rem;
  padding-right: 3.125rem;
  animation: slideInLeft 1s;
}

.women4,
.women1 {
  max-width: 32.295rem;
  padding-left: 3.125rem;
  animation-name: bounceInLeft;
  animation: slideInRight 1s;
}

.women3 {
  max-height: 23.125rem;
}

.ciner-ella__second, 
.ciner-ella__fourth {
  padding-left: 3.125rem;
}

.ciner-ella__third,
.ciner-ella__fifth {
  padding-right: 3.125rem;
}

.invitation {
  padding-top: 7rem;
  padding-bottom: 2rem;
}
.impacts {
  display: block;
  float: right;
  max-width: 65%;
  display: flex;
  flex-direction: column;
}

.impact-1,
.impact-2,
.impact-3,
.impact-4 {
  display: flex;
  padding: 0.7rem;
}

.impact-4{
  display: inline-block;
}

.impact-4 a{
  text-decoration: none;
  color: #feb221;   
  transition: all .6s;
  border-bottom: none;
}

.impact-4 a:hover{
  color: #1098A8;
  border-bottom: 1px solid #1098A8;
}

.arrow {
  font-size: 2.1875rem;
  padding-top: 0.4rem;
  padding-right: 1.7rem;
}

.logo-pequeño{
  max-width: 10rem;
  align-self: center;
  padding: 1rem;
}

.pic{
  width: 100%;
  transform: scale(1);
  transition: transform 1.5s;
}

.pic:hover {
  transform: scale(1.2);
}

a img{
  width: 100%;
}


/* ___________________________________ footer ___________________________________ */

footer {
  font-size: 19.2px;
  color: #555;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 300;
  border-top: 1px solid #feb221;
  margin-top: 5rem;
}

footer p{
  margin: 0;
}

footer h3{
  padding: 0;
}

.footer-row-1 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.footer-row-1 > div {
  text-align: center;
  width: 33%;
}

.footer-row-1 .logo-box img {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s;
}

.footer-row-1 .footer-info {
  text-align: left;
}

.footer-row-1 .logo-box img:hover {
  opacity: 1;
}

.footer-contact-conteiner {
  width: 50%;
  margin: 0 25%;
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media {
  width: 80%;
  margin: 2rem 10% 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media a img {
  opacity: 0.6;
  transition: all 0.3s;
}

.social-media a img:hover {
  opacity: 1;
}

.footer-row-2 {
  text-align: center;
}

.footer-row-2 p span a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s;
}

.footer-row-2 p span a:hover {
  color: #fff;
}

.footer-contact-info > * {
  max-width: 400px;
}

@keyframes slideInLeft {

  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInRight {

  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0%);
  }
}

@media (max-width: 1025px){
  
  body{
    font-size: 1rem;
  }

  .nav-mini{
    width: 80%;
  }
  
  .second,
  .third,
  .fourth,
  .fifth {
    padding: 5rem 0 0 0;
  }

  .second .ciner-ella__second, 
  .fourth .ciner-ella__fourth,
  .third .ciner-ella__third,
  .fifth .ciner-ella__fifth{
    padding: 0;
  }

  .women1,
  .women2,
  .women3,
  .women4{
    max-width: 22rem;
  }
}

@media (max-width: 769px) {

  body{
    line-height: 20px;
  }
  .ciner-ella__logo{
    max-width: 15rem;
  }
  .second,
  .third,
  .fourth,
  .fifth{
    flex-direction: column;
    padding: 1.5rem;
  }

  .third,
  .fifth{
    flex-direction: column-reverse;
  }

  .women1,
  .women4{
    padding-left: 0;
    width: 25rem;
  }
  
  .women2,
  .women3{
    padding-right: 0;
    width: 25rem;
  }

  .second .ciner-ella__second, 
  .fourth .ciner-ella__fourth,
  .third .ciner-ella__third,
  .fifth .ciner-ella__fifth{
    padding-top:3rem;
  }

  .invitation{
    padding: 3rem 1.5rem;
  }

  .impacts{
    max-width: 85%;
  }
  .impact-1,
  .impact-2,
  .impact-3,
  .impact-4 {
    display: inline-block;
    text-align: left;
  }

}

@media (max-width: 420px){
  body{
    font-size: 15px;
    letter-spacing: 0;
    line-height: 1.2;
  }

  #header{
    padding-top: 3rem;
  }
  .ciner-ella__logo{
    max-width: 11rem;
  }

  .women1,
  .women2,
  .women3,
  .women4{
    max-width: 18rem;
  }

  .invitation{
    padding: 1.5rem;
  }
}
